<div class="container">
  <h1>Edit Event</h1>

  <form [formGroup]="eventForm" (ngSubmit)="updateEvent()">
    <div>
      <label for="typeInput">Type:</label>
      <input type="text" id="typeInput" formControlName="type" />
    </div>

    <div>
      <label for="titleInput">Title:</label>
      <input type="text" id="titleInput" formControlName="title" />
    </div>

    <div>
      <label for="clientIdInput">Client ID:</label>
      <select class="form-control" id="clientId" formControlName="clientId">
        <option *ngFor="let client of clients" [value]="client.id">
          {{ client.firstName + " " + client.lastName }}
        </option>
      </select>
    </div>

    <div>
      <label for="timeInput">Time:</label>
      <input type="datetime-local" id="timeInput" formControlName="time" />
    </div>

    <button type="submit">Save</button>
  </form>
</div>
