.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: black;
  padding: 100px 200px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.527);
  border: #fff 1px solid;
  border-radius: 20px;

  position: relative;
  text-align: left;
  display: block;
  color: white;
  text-decoration: none;

  white-space: nowrap;
  word-wrap: break-word;
  margin-bottom: 20px;
  opacity: calc(1 - 0.1);
  box-sizing: border-box;
  user-select: none;
  pointer-events: all;
  touch-action: manipulation;
  overflow: hidden;
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.login-form {
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #eee;
  color: black;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: #007bff;
  color: #fff;

  transform: scale3d(1.01, 1.01, 1);
  cursor: pointer;
}