<div class="sidebar">
  <ul class="menu">
    <li *ngIf="isAuthorized(['OWNER', 'ADMIN'])">
      <a class="menu-link" routerLink="/users">User</a>
    </li>
    <li *ngIf="isAuthorized(['OWNER', 'ADMIN'])">
      <a class="menu-link" routerLink="/clients">Clients</a>
    </li>
    <li *ngIf="isAuthorized(['EMPLOYEE', 'MANAGER', 'OWNER', 'ADMIN'])">
      <a class="menu-link" routerLink="/contracts">Contracts</a>
    </li>
    <li *ngIf="isAuthorized(['EMPLOYEE', 'MANAGER', 'OWNER', 'ADMIN'])">
      <a class="menu-link" (click)="goToSearch()">Search</a>
    </li>
    <li *ngIf="isAuthorized(['EMPLOYEE', 'MANAGER', 'OWNER', 'ADMIN'])">
      <a class="menu-link" routerLink="/events">Events</a>
    </li>
  </ul>
</div>
