<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="typeInput">Type:</label>
      <input type="text" id="typeInput" formControlName="type" required>
    </div>
  
    <div>
      <label for="titleInput">Title:</label>
      <input type="text" id="titleInput" formControlName="title" required>
    </div>
  
    <div>
      <label for="clientIdInput">Client ID:</label>
      <select class="form-control" id="clientId" formControlName="clientId">
        <option *ngFor="let client of clients" [value]="client.id">
          {{ client.firstName + " " + client.lastName }}
        </option>
      </select>
    </div>
  
    <div>
      <label for="timeInput">Time:</label>
      <input type="datetime-local" id="timeInput" formControlName="time" required>
    </div>
  
    <div>
      <button type="submit">Add Event</button>
    </div>
  </form>
  