/* Ästhetik */
.container-fluid {
background-color: #fff; 
font-family: 'San Francisco', 'Helvetica Neue', sans-serif;
}

/* Klarheit */
.navbar-nav {
padding: 0; 
margin: 0; 
list-style-type: none; 
}

.nav-link {
font-size: 18px; /* Große und lesbarer Schriftgröße /
padding: 10px; / Große Abstände für leichtere Klicks /
text-transform: uppercase; / Klare und konsistente Schreibweise /
text-decoration: none; / Keine unterstrichenen Links /
color: #fff; / Kontrastreiche Schriftfarbe */
}

/* Konsistenz */
.navbar {
margin-bottom: 20px;
}

/* Direkte Manipulation */
.nav-link:hover,
.nav-link:focus {
background-color: #c8c8c8;
}

/* Feedback */
.active {
background-color: #c8c8c8;
}

/* Tiefenwahrnehmung */
.col-md-3,
.col-xl-2 {
position: fixed;
height: 100%;
overflow-y: auto;
}

.col-md-9,
.col-xl-10 {
margin-left: 250px; /* Abstand zur Navigationselemente für tiefere Trennung */
}