<form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="clientId">Client ID</label>
    <select class="form-control" id="clientId" formControlName="clientId">
      <option *ngFor="let client of clients" [value]="client.id">
        {{ client.firstName + " " + client.lastName }}
      </option>
    </select>
  </div>
  <div>
    <label for="value">Value:</label>
    <input type="number" id="value" formControlName="value" />
  </div>
  <button type="submit">Vertrag erstellen</button>
</form>
